{% extends 'base.html' %}
{% block content %}
<body>
    {% csrf_token %}
    <h1>Detail page</h1>
    {% if movie %}
    <p> {{ movie.title_kor }} </p></br>
    <p> {{movie.title_eng}} </p></br>
    <p> {{movie.poster_url}} </p></br>
    <p> {{movie.rating_aud}} </p></br>
    <p> {{movie.rating_cri}} </p></br>
    <p> {{movie.genre}} </p></br>
    <p> {{movie.showtimes}} </p></br>
    <p> {{movie.release_date}} </p></br>
    <p> {{movie.rate}} </p></br>
    {% endif %}
    {% for staff in staffs %}
    <p>{{staff.name}}</p>
    <p>{{staff.role}}</p>
    <p>{{staff.image_url}}</p>
    </br>
    {% endfor %}

    <h1>유저 평점 : {{ rate }}</h1>

    <div class="comment_form">
        <form action="{% url 'movies:comment' movie.id %}" method="POST">
            <h1>Comment Here</h1>
            {% csrf_token %}
            <p>Comment :<input type="text" name="comment"></p>
            <p>Rate : <input type="number" min='0' max='10' name="rate"></p>

        <button type="submit">comment</button>
        </form>
    </div>



    {% if comments %}
    
        {% for comment in comments %}
        <div>
            <h6>{{ comment.comment }}</h6>
            <h6>{{ comment.commenter }}</h6>
            <h6>{{ comment.rate }}</h6>
        </div>



        {% endfor %}
        <div class="comment_paginator">
            {% if comments.has_previous %}
            <a href="?page=1">처음</a>
            <a href="?page={{comments.previous_page_number}}">이전</a>
            {% endif %}
            <span>{{comments.number}}</span>
            <span>of</span>
            <span>{{comments.paginator.num_pages}}</span>
            {% if comments.has_next %}
            <a href="?page={{comments.next_page_number}}">다음</a>
            <a href="?page={{comments.paginator.num_pages}}">마지막</a>
            {% endif %}
        </div>


    {% endif %}
</body>
{% endblock %}

