{% extends 'base.html' %} {% block content %}

<h1>Movie Service</h1>

<form action="" method="get">
  <input type="text" name="search" value="{{ search }}" />
  <button type="submit">검색</button>
</form>
<a href="{% url 'index' %}"><button type="init">초기화</button></a>

<div>
  {% for movie in movies %}
  <a href="{% url 'movies:detail' movie.id %}">
    <img src="{{movie.poster_url}}" />
    <div>{{ movie.title_kor }}</div>
  </a>
  {% endfor %}
</div>

<div class="paginator">
  {% if movies.has_previous %}
  <a href="?page=1">처음</a>
  <a href="?page={{movies.previous_page_number}}">이전</a>
  {% endif %}
  <span>{{movies.number}}</span>
  <span>of</span>
  <span>{{movies.paginator.num_pages}}</span>
  {% if movies.has_next %}
  <a href="?page={{movies.next_page_number}}">다음</a>
  <a href="?page={{movies.paginator.num_pages}}">마지막</a>
  {% endif %}
</div>

{% endblock %}
